# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Model besar
models/*.pt

# Data wajah & log
dataset_wajah/*
!dataset_wajah/.gitkeep
logs/*.csv

# File sementara sistem
temp_face.jpg
test_kamera.jpg
temp_recognize.jpg
temp_stream.jpg

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Cache embedding DeepFace
dataset_wajah/*.pkl